//Highlight colors
$primary: #008bb7;
$primary-light: #3eb9d9;
$primary-dark: #005c84;
$gray-1: #eceff0;
$gray-2: #afb9bb;
$gray-3: #768184;
$gray-4: #424a4d;
$gray-5: #161a1b;

// Base colors
$light: #ffffff;
$dark: #121212;
$black: #000000;
$surface-light: $light;
$surface-dark-1: #4c4c4c;
$surface-dark-2: #454545;
$surface-dark-3: #3d3d3d;
$surface-dark-4: #353535;
$surface-dark-5: #2b2b2b;
$background-light: $light;
$background-dark: $gray-5;
$error-light: #cf6679;
$error-dark: #b00020;

// Typography
$font: "Inter", sans-serif;
$font-line-height: 1.8;
$font-thin: 400;
$font-normal: 500;
$font-bold: 600;
$font-extra-bold: 800;
$font-xxs: 0.75rem; //12px
$font-xs: 1rem; //16px
$font-sm: 1.125rem; //18px
$font-md: 1.25rem; //20px
$font-lg: 1.5rem; //24px
$font-xl: 2rem; //32px
$font-xxl: 3rem; //48px

// Sizes
$site-width: 1200px;
$content-width: 700px;
$button-size-sm: 30px;
$button-size-md: 40px;
$button-size-lg: 60px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
$border-radius-round: 100px;

// Spacing
$spacing-xxs: 0.5em; //8px
$spacing-xs: 1em; //16px
$spacing-sm: 1.5em; //24px
$spacing-md: 2em; //32px
$spacing-lg: 3em; //48px
$spacing-xl: 3.5em; //56px
$spacing-xxl: 6.5em; //104px

// Media queries/breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 960px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
$screen-xxxl: 2000px;

// Transitions
$transition-extra-slow: all 0.8s ease-out, all 0.6s ease-out;
$transition-slow: all 0.3s ease-out, all 0.25s ease-out;
$transition-medium: all 0.25s ease-out, all 0.2s ease-out;
$transition-fast: all 0.1s ease-out;

// Mixins
@mixin box-shadow($color: $gray-3, $alpha: 0.2) {
  box-shadow: 0px 10px 25px rgba($color, $alpha);
}

@mixin not-selectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
