@import "./variables.scss";

body {
  margin: 0;
  background-color: $light;
  font-family: $font;
  font-size: $font-xs;
  font-weight: $font-thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  transition: $transition-fast;

  &.dark {
    background-color: $background-dark;
    color: $light;

    a {
      color: $light;

      &:hover {
        color: $gray-2;
      }
    }

    p a,
    ul a {
      color: $primary;

      &:hover {
        color: $primary-light;
      }
    }

    svg {
      fill: $light;
    }
  }
}

main {
  max-width: $content-width;
  margin: 0 auto;
}

p {
  font-size: $font-xs;
  line-height: $font-line-height;
}

a {
  text-decoration: none;
  color: $dark;
  transition: $transition-fast;

  &:hover {
    color: $gray-2;
  }
}

p a,
ul a {
  color: $primary;
  transition: $transition-fast;

  &:hover {
    color: $primary-light;
  }
}

ul {
  line-height: $font-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include not-selectable();
  margin: 0;
  font-weight: $font-bold;
}

h1 {
  font-size: $font-xxl;
}
h2 {
  font-size: $font-xl;
}
h3 {
  font-size: $font-lg;
}
h4 {
  font-size: $font-md;
}
h5,
h6 {
  font-size: $font-sm;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  display: initial;
  padding: unset;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  text-align: unset;

  &:focus {
    outline: none;
  }
}

*:focus {
  outline: none;
}

::selection {
  background: rgba($primary, 0.25);
}

::-moz-selection {
  background: rgba($primary, 0.25);
}

.content-wrapper {
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 $spacing-sm;
}
