@import "styles/variables.scss";

.theme-toggle {
  &.dark {
    svg {
      fill: $light;
    }
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: $gray-2;
    }
  }

  svg {
    fill: $dark;
    transition: $transition-fast;
  }
}
