@import "styles/variables.scss";

.theme-toggle {
  position: relative;
  float: right;
  width: 1.25em;
  margin-left: $spacing-lg;

  &:hover {
    cursor: pointer;
  }

  &.dark {
    svg {
      fill: $light;
    }
  }

  svg {
    position: absolute;
    fill: $dark;
    transition: $transition-fast;

    &:hover {
      fill: $gray-2;
    }
  }
}
