@import "styles/variables.scss";

.section {
  $p: &;
  padding: 0;

  &:not(:last-of-type) {
    margin-bottom: $spacing-xxl;
  }

  &--center {
    text-align: center;
  }

  &--right {
    align-items: flex-end;
    text-align: right;
  }

  &--wide {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - #{$spacing-sm * 2});
    max-width: $site-width;
  }

  &--full-page,
  &--page-head {
    display: flex;
    flex-direction: column;
    place-content: center;
    margin-top: -235px;
    @media screen and (min-width: $screen-md) {
      margin-top: -208px;
    }

    #{$p}__title {
      margin-bottom: 0;
    }
  }

  &--full-page {
    height: 100vh;
    margin-top: -10em;
    @media screen and (min-width: $screen-md) {
      margin-top: -8.5em;
    }
  }

  &--page-head {
    height: 40vh;

    #{$p}__title {
      margin-top: $spacing-md;
      @media screen and (min-width: $screen-md) {
        margin-top: $spacing-xs;
      }
    }
  }

  &--empty {
    height: 50vh;
    margin-top: -14.5em;
    @media screen and (min-width: $screen-md) {
      height: 40vh;
      margin-top: -12.5em;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    &:not(:last-of-type) {
      margin-bottom: $spacing-lg;
      @media screen and (min-width: $screen-md) {
        margin: 0;
        margin-right: $spacing-sm;
      }
    }

    &--50 {
      align-self: center;
      @media screen and (min-width: $screen-md) {
        flex: 1;
      }
    }
  }

  &__anchor {
    position: absolute;
    bottom: 0;
  }

  &__title,
  &__subtitle {
    margin-bottom: $spacing-xs;
  }

  &__button {
    margin-top: $spacing-lg;
  }
}
