@import "styles/variables.scss";

.footer {
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-lg;
  padding-top: $spacing-sm;
  text-align: center;
  @media screen and (min-width: $screen-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  &--wide {
    position: absolute;
    bottom: 0;
    width: calc(100vw - #{$spacing-sm * 2});
    max-width: $site-width;
    @media screen and (min-width: $screen-xxl) {
      left: 50%;
      transform: translateX(-50%);
      width: calc(#{$site-width} + 300px);
      max-width: initial;
    }
  }

  &__copyright {
    margin-bottom: $spacing-sm;
    @media screen and (min-width: $screen-md) {
      margin-bottom: initial;
    }
  }

  &__page-links {
    display: flex;
    flex-flow: column;
    align-items: center;
    @media screen and (min-width: $screen-md) {
      flex-flow: inherit;
    }

    &__container {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      margin-top: $spacing-xs;
      @media screen and (min-width: $screen-md) {
        justify-content: initial;
        width: initial;
      margin-top: initial;

        &:not(:last-of-type) {
          margin-right: $spacing-sm;
        }
      }
    }

    &__link {
      &:not(:last-child) {
        @media screen and (min-width: $screen-md) {
          margin-right: $spacing-sm;
        }
      }

      svg {
        transition: $transition-fast;

        &:hover {
          fill: $gray-2;
        }
      }
    }
  }
}
